<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Advisor</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="navbar">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/information">Information</a></li>
            <li><a href="/popular">Popular Books</a></li>
            <li><a href="/recommend">Recommend</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
    </div>
    <div class="container">
        <h1>Welcome to  Book Advisor</h1>
        <p>Explore recommendations and find the best books for you!</p>
    </div>
</body>
</html>